
#login-nav-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.material-icons{
    cursor: pointer;
}

/* ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: #fffff0;
}

::-webkit-scrollbar-thumb {
    background-color: turquoise;
} */

