

/* 
Colours for reference.
#f6b26b
#d9d2e9
#b4a7d6ff
#8e7cc3
#351c75ff
#20124dff
 */

 
#login-nav-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.material-icons{
    cursor: pointer;
}

